@if (!string.IsNullOrEmpty(HoverClass))
{
    <span class="hover-toggle">
        <i class="bi @TypeClass hover-hide"></i>
        <i class="bi @HoverClass hover-show"></i>
    </span>
}
else
{
    <i class="bi @TypeClass"></i>
}

@code {
    [Parameter]
    public GtgrIconType Type { get; set; }

    private string? TypeClass => Type switch
    {
        GtgrIconType.Delete => "bi-x-circle",
        _ => null
    };

    private string? HoverClass => Type switch
    {
        GtgrIconType.Delete => "bi-x-circle-fill",
        _ => null
    };
}
