@using GeoTaggr.Web.Components.Shared.Countries

@if (Country == null)
{
    return;
}

<h1 class="d-flex align-center">
    <GtgrCountryFlag 
        IsoCode2="@Country.IsoCode2" 
        Name="@Country.Name">
    </GtgrCountryFlag>    
    <span class="ml-2">
        @Country.Name
    </span>    
</h1>

@code {
    [Parameter]
    public Country? Country { get; set; }
}
