@using GeoTaggr.Web.Components.Shared.Buttons
@using GeoTaggr.Web.Components.Shared.Forms.Selects

@if (Options == null)
{
    return;
}

<div class="dropdown">
    <GtgrDropdownButton
        Type="@ButtonType">
        @ButtonText
    </GtgrDropdownButton>
    <GtgrDropdownMenu
        Alignment="@Alignment"
        OnSelect="@(option => OnSelect.InvokeAsync(option))"
        Options="@Options">
    </GtgrDropdownMenu>
</div>

@code {
    [Parameter]
    public GtgrMenuAlignment Alignment { get; set; }

    [Parameter]
    public string? ButtonText { get; set; }

    [Parameter]
    public GtgrButtonType ButtonType { get; set; }    


    [Parameter]
    public EventCallback<SelectOption> OnSelect { get; set; }

    [Parameter]
    public IReadOnlyCollection<SelectOption>? Options { get; set; }    
}
