@using GeoTaggr.Web.Components.Shared.Cards
@using GeoTaggr.Web.Components.Shared.Forms.Checkboxes
@using GeoTaggr.Services.Countries

<GtgrCard Outlined="true">
    <Content>
        <GtgrFlexContainer>
            <div>
                <GtgrCheckbox 
                    Label="Show all"
                    OnChange="@OnShowAllChanged">
                </GtgrCheckbox>
            </div>
        </GtgrFlexContainer>
    </Content>    
</GtgrCard>

@code {
    [Parameter]
    public EventCallback<CountryFilterValues> OnChange { get; set; }

    private bool ShowAll { get; set; }

    private async Task OnShowAllChanged(bool showAll)
    {
        ShowAll = showAll;
        await TriggerChangeAsync();
    }

    private async Task TriggerChangeAsync()
    {
        await OnChange.InvokeAsync(new CountryFilterValues
        {
            IncludeNoCoverage = ShowAll
        });
    }    
}