@using GeoTaggr.Web.Components.Shared.Buttons
@using GeoTaggr.Web.Components.Shared.Layout

<header>
    <MudAppBar DisableGutters="true">
        <GtgrContainer>
            <div class="d-flex align-center">
                <GtgrButton Href="/">GeoTaggr</GtgrButton>
                <GtgrButton Href="/countries">Countries</GtgrButton>
                <GtgrButton Href="/tags">Tags</GtgrButton>
            </div>
        </GtgrContainer>        
    </MudAppBar>
</header>

@code {

}
