@using GeoTaggr.Web.Components.Shared.Navs
@using GeoTaggr.Web.Components.Shared.Pages

<PageTitle>@Title | GeoTaggr</PageTitle>

@if (NavItems != null)
{
    if (NavType == GtgrNavType.Tabs)
    {
        <GtgrNavTabs Items="@NavItems">
        </GtgrNavTabs>
    }
    else
    {
        <GtgrBreadcrumbs Items="@NavItems">
        </GtgrBreadcrumbs>
    }
}

@if (PreHeading != null)
{
    <div>
        @PreHeading
    </div>
}

@if (Heading != null)
{
    <GtgrPageHeading>@Heading</GtgrPageHeading>
}
else if (!SuppressHeading)
{
    <GtgrPageHeading>@Title</GtgrPageHeading>
}

@Content

@code {
    [Parameter]
    public RenderFragment? Content { get; set; }

    [Parameter]
    public RenderFragment? Heading { get; set; }

    [Parameter]
    public IReadOnlyCollection<GtgrNavItem>? NavItems { get; set; }

    [Parameter]
    public GtgrNavType? NavType { get; set; }

    [Parameter]
    public RenderFragment? PreHeading { get; set; }

    [Parameter]
    public bool SuppressHeading { get; set; }

    [Parameter]
    public required string Title { get; set; }
}
